@import url('https://fonts.googleapis.com/css2?family=Maven+Pro');

/* font-family: 'Maven Pro', sans-serif; */

body {
    background-color: lightgray;
}

.main {
    background-color: white;
    width: 500px;
    display: flex;
}

.left {
    
}


.right {
    
}